

#property-form {
  display: flex;
  flex-direction: column;
}

#form-container {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

#numberOfBeds {
  width: 50px;
  border-radius: 20px;
  text-align: center;
}

#numberOfBedRooms {
  width: 50px;
  border-radius: 30px;
  text-align: center;
}

.test {
  display: flex;
  justify-content: center;
}

.image {
  border-radius: 10px;
}

body  {
  background-color: blue;
}
