

#property-form {
  display: flex;
  flex-direction: column;
}

#form-container {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FF5A5F;
}

#numberOfBeds {
  width: 50px;
  border-radius: 20px;
  text-align: center;
}

#numberOfBedRooms {
  width: 50px;
  border-radius: 30px;
  text-align: center;
}
